<!-- Page Heading Start -->
<div class="page-heading">
	<h1><i class='fa fa-check'></i> Forms</h1>
</div>
<!-- Page Heading End-->

<div class="widget">
	<div class="widget-header transparent">
		<h2><strong>Form</strong> Element</h2>

	</div>
	<div class="widget-content padding">
		<form class="form-horizontal" role="form">
			<div class="form-group">
				<label for="input-text" class="col-sm-2 control-label">Input text</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="input-text" placeholder="Input text">
				</div>
			</div>
			<div class="form-group">
				<label for="input-text-help" class="col-sm-2 control-label">Input text with help</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="input-text-help" placeholder="Input text placeholder">
					<p class="help-block">
						Example block-level help text here.
					</p>
				</div>
			</div>
			<div class="form-group">
				<label for="inputPassword" class="col-sm-2 control-label">Password</label>
				<div class="col-sm-10">
					<input type="password" class="form-control" id="inputPassword" placeholder="Password">
				</div>
			</div>
			<div class="form-group">
				<label for="input-text-disabled" class="col-sm-2 control-label">Disabled</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="input-text-disabled" placeholder="Input text" disabled>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">Static Control</label>
				<div class="col-sm-10">
					<p class="form-control-static">
						email@example.com
					</p>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">Radio</label>
				<div class="col-sm-10">
					<div class="radio iradio">
						<label>
							<input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
							Option one is this and that&mdash;be sure to include why it's great </label>
					</div>
					<div class="radio iradio">
						<label>
							<input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
							Option two can be something else and selecting it will deselect option one </label>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">Checkbox</label>
				<div class="col-sm-10">
					<div class="checkbox">
						<label>
							<input type="checkbox" value="">
							Option one is this and that&mdash;be sure to include why it's great </label>
					</div>
					<div class="checkbox">
						<label>
							<input type="checkbox" value="">
							Option one is this and that&mdash;be sure to include why it's great </label>
					</div>
					<div class="checkbox">
						<label>
							<input type="checkbox" value="">
							Option one is this and that&mdash;be sure to include why it's great </label>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">Inline Checkbox</label>
				<div class="col-sm-10">
					<label class="checkbox-inline icheckbox">
						<input type="checkbox" id="inlineCheckbox1" value="option1">
						1 </label>
					<label class="checkbox-inline icheckbox">
						<input type="checkbox" id="inlineCheckbox2" value="option2">
						2 </label>
					<label class="checkbox-inline icheckbox">
						<input type="checkbox" id="inlineCheckbox3" value="option3">
						3 </label>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">Select</label>
				<div class="col-sm-10">
					<select class="form-control">
						<option>1</option>
						<option>2</option>
						<option>3</option>
						<option>4</option>
						<option>5</option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label"></label>
				<div class="col-sm-10">
					<select multiple class="form-control">
						<option>1</option>
						<option>2</option>
						<option>3</option>
						<option>4</option>
						<option>5</option>
					</select>
				</div>
			</div>

			<div class="form-group">
				<label class="col-sm-2 control-label">Custom Select</label>
				<div class="col-sm-10">
					<select class="form-control selectpicker">
						<option>1</option>
						<option>2</option>
						<option>3</option>
						<option>4</option>
						<option>5</option>
					</select>
				</div>
			</div>

			<div class="form-group">
				<label class="col-sm-2 control-label">File Input</label>
				<div class="col-sm-10">
					<input type="file" class="btn btn-default" title="Select files">
				</div>
			</div>

			<div class="form-group">
				<label class="col-sm-2 control-label">Datepicker</label>
				<div class="col-sm-3">
					<input type="text" class="form-control datepicker-input">
				</div>
			</div>

			<div class="form-group">
				<label class="col-sm-2 control-label">WYSWYG</label>
				<div class="col-sm-10">
					<textarea class="summernote"></textarea>
				</div>
			</div>

			<div class="form-group">
				<label class="col-sm-2 control-label">&nbsp;</label>
				<div class="col-sm-10">
					<button type="submit" class="btn btn-default btn-lg">
						Submit
					</button>
					&nbsp;&nbsp;
					<button type="submit" class="btn btn-default btn-lg">
						Sign in
					</button>

				</div>
			</div>

		</form>
	</div>

</div>